# KittyProtocol Hub address conf - adjust to situtation (given addres is private vm on Azure)
# 20.82.139.232:9999
KITTY_HUB_ADDR=127.0.0.1:9999

# KittyProtocol Intercept address conf - adjust to situtation (better not to change)
KITTY_INTERCEPT_ADDR=0.0.0.0:9999