# -----------------------------
# KittyProtocol configuration
# -----------------------------

# 127.0.0.1:9999 - local version

# ==========   AZURE   ============
# for KITTY_HUB_ADDR you can assign
# 6.67.67.67:9999 - Azure version
# it depends on which port you
# enabled in network settings 
# as a role and assigned public ip

KITTY_HUB_ADDR=127.0.0.1:9999


KITTY_INTERCEPT_ADDR=127.0.0.1:9999
# 127.0.0.1:9999 - version for local dev tests
# 0.0.0.0:9999 - version for production - listen all devices