# -----------------------------
# PostgreSQL configuration
# -----------------------------
POSTGRES_USER=kitty
POSTGRES_PASSWORD=kittypass
POSTGRES_DB=kittyhub
POSTGRES_PORT=5432

# -----------------------------
# pgAdmin configuration
# -----------------------------
PGADMIN_EMAIL=admin@example.com
PGADMIN_PASSWORD=adminpass
PGADMIN_PORT=5050